/*
 * style for Golden Rectangle pattern
**/

#gold-rect {
  height: 12px;
  width: 6px;
  background: #354044;
  border-top:    1px solid #f8fafa;
  border-right:  1px solid #f8fafa;
  border-bottom: 1px solid #f8fafa;
  border-left:   1px solid #f8fafa;
}
#square-1 {
  height: 12px;
  width: 11px;
  background: #354044;
  border-top:    1px solid #f8fafa;
  border-right:  2px solid #f8fafa;
  border-bottom: 1px solid #f8fafa;
  border-left:   1px solid #f8fafa;
  float: left;
}
#square-2 {
  height: 19px;
  width: 19px;
  background: #354044;
  border-top:    1px solid #f8fafa;
  border-right:  2px solid #f8fafa;
  border-bottom: 2px solid #f8fafa;
  border-left:   2px solid #f8fafa;
  position: relative;
  left: 35px;
  top: 14px;
}
#square-3 {
  height: 33px;
  width: 33px;
  background: #354044;
  border-top:    1px solid #f8fafa;
  border-right:  1px solid #f8fafa;
  border-bottom: 2px solid #f8fafa;
  border-left:   2px solid #f8fafa;
  float: left;
}
#square-4 {
  height: 54px;
  width: 54px;
  background: #354044;
  border-top:    2px solid #f8fafa;
  border-right:  2px solid #f8fafa;
  border-bottom: 1px solid #f8fafa;
  border-left:   2px solid #f8fafa;
}

