body {
    /*font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;*/
    font-family: 'Trebuchet MS',Helvetica,sans-serif;
    font-size: 12px;
    background: #354044;
}

header {
  display: block;
  height: 100px;
  margin: 0px;
  padding: 0px;
  border: 0px solid #e97f13;
  background: #354044;
}

nav {
    margin: 0px;
    padding: 5px;
    width: 200px;
    height: 500px;
    border: 0px solid #e97f13;
    background: #354044;
    float: left;
}

#splash {
    margin: 0px;
    padding: 5px;
    border: 0px solid #e97f13;
    background: #354044;
}

#main {
    margin-left: 150px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #354044;
    padding: 0px;
    display: block;
}

article {
    margin: 0px;
    max-width: 600px;
    padding: 10px;
    border: 0px solid #e97f13;
    background: #354044;
    float: left;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 0px solid #e97f13;
    background: #354044;
}

footer {
    display: block;
    margin: 0px;
    padding: 5px;
    min-height: 100px;
    border: 0px solid #e97f13;
    background: #354044;
    clear: both;
}

p, li, a {
    color: #f8fafa;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    color: #e97f13;
}

h1 {
    color: #f8fafa;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: #f8fafa;
    text-decoration: none;
    font-size: 18px;
}

