html {
  font-size: 10px;
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'Trebuchet MS',Helvetica,sans-serif;
  background: white;
  margin: 0px; /* To eliminate the white border  */
}

main {
  position: relative;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: black;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

nav a {
  font-size: 2.0rem;
  color: white;
  text-decoration: none;
  margin-left: 5%;
  margin-right:5%;
}

nav a:hover {
  color: blue;
}

header {
  display: block;
  height: 100vh;
  position: relative;
  left: 0;
  right: 0;
  padding: 0px;
  background: blue;
}

article {
  display: block;
  height: 100vh;
  position: relative;
  left: 0;
  right: 0;
  padding: 0px;
  border: 0px solid #e97f13;
}

#splash {
  background: blue;
}

#about {
  background: white;
}

#about p {
  font-weight: bold;
  font-size: 7vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projects {
  background: blue;
}

#contact {
  background: white;
}

footer {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px solid #e97f13;
  background: black;
}

.thumbnail {
  height: 160px;
  width: 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -80px;
  background: magenta;
}
