html {
  height: 100vh;
  width: 100%;
}

body {
    /*font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;*/
    font-family: 'Trebuchet MS',Helvetica,sans-serif;
    font-size: 12px;
    background: white;
}

main {

}

header {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px solid #e97f13;
  background: black;
}

article {
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid #e97f13;
}

#splash {
  background: blue;
}

#about {
  background: white;
}

#projects {
  background: blue;
}

#contact {
  background: white;
}

footer {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px solid #e97f13;
  background: black;
}

